
import(FNN,dummies,mvtnorm)

  importFrom("graphics", "abline", "matplot", "plot")
  importFrom("stats", "binomial", "coef", "cor", "cov", "glm", "lm",
             "loglin", "na.omit", "numericDeriv", "predict", "rbinom",
             "var")
  importFrom("utils", "combn")
  importFrom("sandwich","vcovHC")

S3method(coef,lmac)
S3method(vcov,lmac)
S3method(plot,rlm)
S3method(predict,knn)
S3method(predict,kNN)
S3method(plot,kmin)
S3method(predict,ovaknn)
S3method(predict,ovalog)
S3method(plot,tuner)
S3method(reorder,tuner)
S3method(predict,krsFit)
S3method(predict,qeLogit)
S3method(predict,qeLin)
S3method(predict,qeKNN)
S3method(predict,qeRF)
S3method(predict,qeSVM)
S3method(predict,qeGBoost)
S3method(predict,qeNeural)
S3method(predict,knnRec)
S3method(predict,anovaRec)
S3method(predict,mfRec)
S3method(predict,penroseLM)
S3method(predict,penrosePoly)

export(knnest,preprocessx,meany, vary,loclin,predict.knn,nlshc,
   kmin,
   lmac,coef.lmac,vcov.lmac,makeNA,pcac,loglinac,tbltofakedf,
   ovalogtrn,avalogtrn,avalogpred,
   qeLogit,qeLin,qeKNN,qeRF,qeSVM,qeGBoost,qeNeural,
   knntrn,ovaknntrn,predict.ovaknn,classadjust,
   scoresToProbs,logOddsToProbs,getDValsE1071,
   knnFineTune,kNN,findOverallLoss,MAPE,probIncorrectClass,kNNxv,propMisclass,
   plotExpVars,exploreExpVars,multCols,
   bestKperPoint, parvsnonparplot,nonparvsxplot,nonparvarplot,
   ridgelm,plot.rlm, boundaryplot,
   l2,l1,
   mm,unscale,mmscale,constCols,catDFRow,
   confusion,factorTo012etc,
   penroseLM,predict.penroseLM,penrosePoly,predict.penrosePoly, 
   ulist,predict.anovaRec,discretize,
   factorsToDummies,factorToDummies,dummiesToFactor,hasFactors,dummiesToInt,
   xyDataframeToMatrix,dummiesToInt,charsToFactors,
   imgTo2D,imgFilesToMatrix,imgFileToVector,augMatrix,
   stdErrPred,checkNumericNames,prepend,getDFclasses,
   dimRed,dimRedNewX,reduceComps,
   toSuperFactor,toSubFactor,
   getMNIST,
   knnRec,anovaRec,mfRec,predictMany,getXY,
   fineTuning,fineTuningPar,getNamedArgs,partTrnTst,makeOutdf,
   krsFit,krsFitImg,diagNeural,
   adjToUIR,
   TStoX,TStoXmv,textToXY,textToXYpred)
